article{
    line-height: 2;
}

.article #banner{
    height: 300px;
}

.article h1{
    border: none;
}

.article #banner .inner{
    top: 30px;
}

.article .content{
    background: #fefefe;
}

.content-wrapper{
    width: 1080px;
    margin: 0 auto;
    padding: 10px 0;
}

.article-info{
    font-size: 14px;
    color: #888;
    padding: 15px 0;

}