.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

ul{
    margin: 0;
    list-style: none;
}

header{
    background: rgba(0,0,0,0.3);
}

nav{
    background: transparent;
    height: 50px;
}

#banner{
    background: transparent;
    height: 700px;
}

#banner p,#banner h1{
    color: #fff;
}

nav ul{
    list-style: none;
    margin: 0;
    float: right;
}

nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a{
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    height: inherit;
    color: #fff;
}

nav .logo{
    float: left;
}

nav .logo a{
    padding: 10px;
    text-decoration: none;
}

#banner .inner{
    max-width: 300px;
    text-align: center;
    position: relative;
    top: 160px;
    margin: 0 auto;
}

#banner .inner h1,h2{
    margin: 0;
}

button{
    border: none;
    background: #333;
    color: #eee;
    padding: 10px;
}

#banner button{
    padding: 14px 50px;
    letter-spacing: 4px;
    background: #0AC9A0;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#banner button:hover{
    background: #0DB28E;
    color: #eee;
}

#banner .inner .more{
    margin-top: 220px;
    color: #fff;
    font-weight: normal;
    background: transparent;
}

#banner .inner .more span{
    display: block;
    margin-bottom: 10px;
}

#banner .inner .more i{
    color: rgba(255,255,255,0.8);
}

.active{
    border-bottom: 4px solid #fff;
}

h1{
    padding: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 18px;
    letter-spacing: 1px;
}

.sub-heading{
    line-height: 30px;
    margin: 30px 0;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo a{
    /*设置字体颜色要在a标签上，不要在li上*/
    color: #fff;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.green-section{
    background: #079CAE;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.green-section .sub-heading{
    font-size: 18px;
}

.green-section .hr{
    background-color: #157d8a;
    width: 60%;
}

.green-section .icon-group{
    margin-top: 60px;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #0D6F7c;
    transform: rotate(45deg);
    margin: 20px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

.gray-section{
    background: #252f34;
    color: #fff;
}

.gray-section .img-section{
    width: 45%;
}

/*一定要约束图片宽度*/
.img-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 55%;
}

/*子元素浮动了，父元素里面没有内容了，要清除浮动*/
.article-preview > div{
    float: left;
    font-size: 0;
}

.article-preview:nth-child(odd){
    background: rgba(255,255,255,0.1);
}


.text-section{
    padding-left: 50px;
    padding-top: 68px;
    box-sizing: border-box;
}

.text-section h2{
    margin-bottom: 20px;
}

.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}

/*防止内容溢出*/
.text-section > *{
    max-width: 90%;
}

.purple-section{
    padding: 80px;
    background: #3F3965;
    color: #fff;
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background: #373259;
    width: 60%;
}

.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
}
/*.card:nth-child(even){
    margin-left: -1px;
}*/

.card:first-child{
    background: rgba(0,0,0,0.04);
}

.card:nth-child(2){
    background: rgba(0,0,0,0.08);
}

.card:nth-child(3){
    background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
    background: rgba(0,0,0,0.16);
}

.card:nth-child(5){
    background: rgba(0,0,0,0.20);
}

.card:last-child{
    background: rgba(0,0,0,0.24);
}

footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.share-group li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.share-group li a{
    color: #fff;
    text-decoration: none;
}

.copy{
    padding-bottom: 20px;
}

.main-wrapper{
    background-size: cover;
    background: #444 url(../img/banner.jpg) no-repeat fixed center;
}



